@model live.travel.solution.Models.ViewModels.FormViewModel

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Detalhes - Formulário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Plano:
                                        <br /><span>@Model.Plan</span>
                                    </b>
                                </td>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Status:
                                        <br /><span>@Model.Status</span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Nascimento:
                                        <br /><span>@Model.BirthDate</span>
                                    </b>
                                </td>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Telefone:
                                        <br /><span>@Model.Tell</span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Cidade:
                                        <br /><span>@Model.City</span>
                                    </b>
                                </td>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Estado:
                                        <br /><span>@Model.State</span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        País:
                                        <br /><span>@Model.Provincy</span>
                                    </b>
                                </td>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Nome:
                                        <br /><span>@Model.Name</span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                                        Email:
                                        <br /><span>@Model.Email</span>
                                    </b>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>