@model live.travel.solution.Models.ViewModels.FormViewModel

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Detalhes - Formulário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="modal-body">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Plano:
                        <br /><span>@Model.Plan</span>
                    </b>
                </div>
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Status:
                        <br /><span>@Model.Status</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Nascimento:
                        <br /><span>@Model.BirthDate</span>
                    </b>
                </div>
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Telefone:
                        <br /><span>@Model.Tell</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Cidade:
                        <br /><span>@Model.City</span>
                    </b>
                </div>
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Estado:
                        <br /><span>@Model.State</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        País:
                        <br /><span>@Model.Provincy</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Nome:
                        <br /><span>@Model.Name</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b class="w-100 btn btn-dark btn-outline-warning btn-sm">
                        Email:
                        <br /><span>@Model.Email</span>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>