@model IEnumerable<live.travel.solution.Models.ViewModels.FormViewModel>
@using live.travel.solution.Models.ViewModels

@{
    ViewData["Title"] = "Formularios de Associados";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    TempData["Formularios"] = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Formulários</h4>
                        <p class="card-category">Controle seus formulários por aqui</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Data</th>
                                        <th>Nome</th>
                                        <th>Plano</th>
                                        <th>Telefone</th>
                                        <th>Estado</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model) {
                                        <tr>
                                            <td>@x.CreatedAt</td>
                                            <td>@x.Name</td>
                                            <td class="text-primary">@x.Plan</td>
                                            <td>@x.Tell</td>
                                            <td class="text-primary">@x.State</td>
                                            <td>
                                                <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@x.Id" class="btn btn-warning btn-white btn-sm" data-toggle="modal" data-target="#detail">
                                                    <i class="material-icons">more_horiz</i>
                                                </a>
                                                <a asp-controller="Dashboard" asp-action="Aprove" asp-route-id="@x.Id" class="btn btn-success btn-white btn-sm" data-toggle="modal" data-target="#aprove">
                                                    <i class="material-icons">done</i>
                                                </a>
                                                <a asp-controller="Dashboard" asp-action="Remove" asp-route-id="@x.Id" class="btn btn-danger btn-white btn-sm" data-toggle="modal" data-target="#remove">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 620px;" role="document">
        @await Html.PartialAsync("../Dashboard/Detail.cshtml", new FormViewModel())
    </div>
</div>

<div class="modal fade" id="aprove" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @await Html.PartialAsync("../Dashboard/Aprove.cshtml", new FormViewModel())
    </div>
</div>

<div class="modal fade" id="remove" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @await Html.PartialAsync("../Dashboard/Remove.cshtml", new FormViewModel())
    </div>
</div>