@model IEnumerable<live.travel.solution.Models.ViewModels.FormViewModel>

@{
    ViewData["Title"] = "Formularios de Associados";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    TempData["Formularios"] = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Formulários</h4>
                        <p class="card-category">Controle seus formulários por aqui</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Plano
                                        </th>
                                        <th>
                                            Telefone
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Ação
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model) {
                                    <tr>
                                        <td>
                                            @x.CreatedAt
                                        </td>
                                        <td>
                                            @x.Name
                                        </td>
                                        <td class="text-primary">
                                            @x.Plan
                                        </td>
                                        <td>
                                            @x.Tell
                                        </td>
                                        <td class="text-primary">
                                            @x.State
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-fab btn-round" rel="tooltip" data-original-title="Detalhes">
                                                <i class="material-icons">more_horiz</i>
                                                <div class="ripple-container"></div>
                                            </button>

                                            <button class="btn btn-success btn-sm btn-fab btn-round" rel="tooltip" data-original-title="Aprovar">
                                                <i class="material-icons">done</i>
                                                <div class="ripple-container"></div>
                                            </button>

                                            <button class="btn btn-danger btn-sm btn-fab btn-round" rel="tooltip" data-original-title="Excluir">
                                                <i class="material-icons">delete</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>